<div id="initScreen" class="bg-dark text-white d-flex justify-content-center">
      <div class="content">
        <div id="textContent">
            <h1>Localiza<span>.ai</span></h1>
            <h4>Sistema de <span>Mapeamento</span></h4>
            <br>

            <div class="Buttons">
                <a href="/Mapeamento" style="text-decoration: none;"> 
                <button onclick="openApp()"  style="width: 300px;" class="btn btn-outline-danger btn-lg">Mapeamento</button>
                </a>
            
                <a href="/Boletins" style="text-decoration: none;">
                    <button onclick="openApp()"  style="width: 300px;" class="btn btn-outline-danger btn-lg">Boletins</button>
                </a>
            </div>
            
        </div>
        
        <div id="rectangles">
          <div id="rec1" class="rects"></div>
          <div id="rec2" class="rects"></div>
          <div id="rec3" class="rects"></div>
        </div>
      </div>
      
      
</div>